---
// ここにJSや変数を書けますが、今回は静的なHTMLだけでOK
---
<nav id="about" class="flex">
    <a href="../about/privacy.html">プライバシーポリシー</a>
    <span class="../about/separator">|</span>
    <a href="contact.html">コンタクト</a>
</nav>
    <div id="toTop">▲</div>
<footer><p>2026 フェレットのオンラインボドゲカフェ</p><img src="/img/FBC3.png"></footer>
</div>
    